{% extends 'plantillaBase.html' %} 
{% block titulo %} {{ 'Formulario de Categoría' }} {% endblock %} 

{% block contenido %}
<form method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                {{ form.as_table }}
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <input type="submit" name="btnEnviar" class="btn btn-primary" value="Enviar">
            <a href="{% url 'categorias' %}" class="btn btn-success">Listar categorias</a>
        </div>
    </div>
</form>
{% endblock %}